body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
 
  .b {
    display: inline-block;
    width: 200px;
    height: 500px;
    padding: 5px;
    border: 1px solid blue; 
    background-color: yellow; 
  }
  .intro { 
    background-color: yellow;
  }